[submodule "setup/WinSetup/PatchReviewer"]
	path = setup/WinSetup/PatchReviewer
	url = https://github.com/Chicken-Bones/PatchReviewer.git
[submodule "FNA"]
	path = FNA
	url = https://github.com/tModLoader/FNA.git
